body {
    margin: 0;
    padding: 0;
    background: var(--white);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.post-container {

    background: var(--bright-white);
    border-radius: 0.5em;
    width: 90%;
    margin: 1em auto;
    padding: 1rem;
}

.post.user-avatar {
    height: 3em;
    width: 3em;
}
.post-reactions-container {
    width: 100%;
    border-top: 1pt solid #cccccc77;
    padding-top: 0.5em;
}
.post.reaction:not(:last-child) {
    border-right: 1pt solid #cccccc77;
}

.user-avatar {
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.user-avatar.heraldo {
    object-fit: fill;
}
.chatbox.user-avatar {
    height: 1.5em;
    width: 1.5em;
}

#navbar {
    background: var(--blue);
    color: var(--white);
}

.search-bar {
    border-radius: 1em;
    border: inset #77777777 1.25pt;
    padding: 0.25rem 1.25rem;
}
#navbar .search-bar {
    width: 35vw;
    height: 1.5rem;
}

#navbar-menu.invisible {
    display: none;
}

#sidebar-left, #sidebar-right {
    width: 16rem;
    height: 100vh;
}
#feed {
    width: calc(100vw - 32rem);
}

#index-chats-container {
    width: 90vw;
    position: fixed;
    bottom: 0;
    overflow-x: scroll;
    overflow-y: none;
}

@media screen and (max-width: 800px) {
    #sidebar-left, #sidebar-right, #index-chats-container {
        display: none !important;
    }
    #feed {
        width: 100vw;
    }
}