<div class="post" data-user-id="1">
    <div class="d-flex flex-row" data-role="post-content">
        <img class="user-avatar heraldo post" src="heraldo_ordonez.png">
        <h3 class="post name">Heraldo "Prueba" Ordóñez</h3>
        <p class="post content">Loreminpsum</p>
    </div>
    <div class="d-flex flex-row justify-content-between" data-role="post-responses">
        <div class="post-reactions-container d-flex flex-row justify-content-start" data-role="reactions">
            <div class="post reaction d-flex flex-row justify-content-center align-items-center">
                <span title="Usuario 1">👍 1</span>
            </div>
            <div class="post reaction d-flex flex-row justify-content-center align-items-center">
                <span title="Usuario2, Usuario3, Usuario4 y 2 personas más"> 😂 5</span>
            </div>
        </div>
        <div class="post-comments-container d-flex flex-column justify-content-start align-items-center" data-role="comments">
                
        </div>
    </div>
</div>