<div class="chatbox d-flex flex-column" data-user-id="">

    <div class="chatbox-bar d-flex flex-row justify-content-between align-items-center p-1">
        <span class="chatbox-name"></span>
        <div class="d-flex flex-row justify-content-around">
            <button class="button blue d-flex flex-row justify-content-center align-items-end p-1"> _ </button>
            <button class="button blue d-flex flex-row justify-content-center align-items-center p-1"> x </button>
        </div>
    </div>

    <div class="chatbox-chat d-flex flex-column overflow-y">

        <div class="d-flex flex-row justify-content-start align-items-center p-1">
            <img class="chatbox user-avatar mx-1" src="">
            <span class="chatbox message received"></span>
        </div>

        <div class="d-flex flex-row justify-content-end align-items-center p-1">
            <span class="chatbox message sent"></span>
        </div>

    </div>
    
</div>