<nav id="navbar" class="d-flex flex-row justify-content-around align-items-center">
    <div id="navbar-logo"><h1>LOGO</h1></div>
    <div id="navbar-search"><input type="text" id="navbar-search-input" class="search-bar"/></div>
    <div id="navbar-menu_button">
        <ul id="navbar-menu" class="d-flex flex-column align-items-start justify-content-center invisible">

            <li class="d-flex flex-row justify-content-start align-items-center">
                <img src="img/icons/navbar-menu/profile.svg" class="navbar-menu-icon"> Perfil
            </li>
            
            <li class="d-flex flex-row justify-content-start align-items-center">
                <img src="img/icons/navbar-menu/gallery.svg" class="navbar-menu-icon"> Galería
            </li>
            
            <li class="d-flex flex-row justify-content-start align-items-center">
                <img src="img/icons/navbar-menu/groups.svg" class="navbar-menu-icon"> Grupos
            </li>
            
            <li class="d-flex flex-row justify-content-start align-items-center">
                <img src="img/icons/navbar-menu/pages.svg" class="navbar-menu-icon"> Páginas
            </li>
            
            <li class="d-flex flex-row justify-content-start align-items-center">
                <img src="img/icons/navbar-menu/account.svg" class="navbar-menu-icon"> Cuenta
            </li>
            
            <li class="d-flex flex-row justify-content-start align-items-center">
                <img src="img/icons/navbar-menu/privacy.svg" class="navbar-menu-icon"> Privacidad
            </li>
            
            <li class="d-flex flex-row justify-content-start align-items-center">
                <img src="img/icons/navbar-menu/help.svg" class="navbar-menu-icon"> Ayuda
            </li>
            
            <li class="d-flex flex-row justify-content-start align-items-center">
                <img src="img/icons/navbar-menu/support.svg" class="navbar-menu-icon"> Soporte
            </li>
            
            <li class="d-flex flex-row justify-content-start align-items-center">
                <img src="img/icons/navbar-menu/logout.svg" class="navbar-menu-icon"> Salir
            </li>

        </ul>
    </div>
</nav>